<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>优酷土豆路由宝--系统信息</title>
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/reset.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/widget/widget.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/widget/popup.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/page/page_comn.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/icon/comn_icon.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/form/form.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/system/system_info.css?lv=<%=luciver%>">
  <script type="text/javascript" charset="utf-8" src="<%=media%>/js/lib/jquery.min.js?lv=<%=luciver%>"></script>
    <script type="text/javascript" charset="utf-8" src="<%=media%>/js/plug/popup.js?lv=<%=luciver%>"></script>
  <script type="text/javascript" charset="utf-8" src="<%=media%>/js/plug/nodeClick.js?lv=<%=luciver%>"></script>
  <script type="text/javascript" charset="utf-8" src="<%=media%>/js/plug/validate.js?lv=<%=luciver%>"></script>
  <script type="text/javascript" charset="utf-8" src="<%=media%>/js/system/binduser.js?lv=<%=luciver%>"></script>
</head>
<body>
  <div class="header">
     <div class="top-con clrfx">
        <a href="#" class="logo">优酷土豆路由宝</a>
        <div class="top-nav">
          <ul class="clrfx">
            <li><a href='<%=luci.dispatcher.build_url("admin", "index")%>'>首页</a><i class="border"></i></li>
            <li><a href='<%=luci.dispatcher.build_url("admin", "wifiset")%>'>路由设置</a><i class="border"></i></li>
            <li><a href='<%=luci.dispatcher.build_url("admin","devmanage")%>'>设备管理</a></li>
            <li class="current"><a href='<%=luci.dispatcher.build_url("admin", "systemstate")%>'>系统管理</a></li>
         </ul>
        </div>
        <%include ("header")%>
     </div> 
   </div><!--.header-->
   <div class="bg-nav">
     <div class="nav-con">
      <ul class="nav-lists clrfx">
        <li><a href='<%=luci.dispatcher.build_url("admin", "systemstate")%>'><span class="icon meter"></span><span>系统状态</span></a></li>
        <li><a href='<%=luci.dispatcher.build_url("admin", "managepassword")%>'><span class="icon key"></span ><span>管理密码</span></a></li>
        <li class="current"><span class="icon lock"></span><span>帐号绑定</span></li>
        <li><a href='<%=luci.dispatcher.build_url("admin", "checkupdate")%>'><span class="icon conv"></span><span>系统升级</span></a></li>
        <li><a href='<%=luci.dispatcher.build_url("admin", "restartrouter")%>'><span class="icon power"></span><span>重启路由</span></a></li>
        <li class="long"><a href='<%=luci.dispatcher.build_url("admin", "resetfactory")%>'><span class="icon fac-default"></span><span>恢复出厂设置</span></a></li>
      </ul>
     </div>
   </div><!--.bg-nav-->
   <div class="router-main">
    <div class="router-con">
    	<input id="footerurl" value='<%=luci.dispatcher.build_url("api","dashboard","getFooterInfo")%>' style="display:none"/>
      <input id="binduserurl" value='<%=luci.dispatcher.build_url("api", "system", "bindyoukuuser")%>' style="display:none"/>
      <input id="getcreditsurl" value='<%=luci.dispatcher.build_url("api", "dashboard", "getcreditsinfo")%>' style="display:none"/>
      <input id="resetbindurl" value='<%=luci.dispatcher.build_url("admin", "bindaccount")%>' style="display:none"/>
      <div class="bind-account clrfx">
        <div class="bind-tip fl">
          <p class="loss">绑定优酷帐号，可领取并管理路由宝积分</p>
          <p class="gray">积分可以换优酷会员，点播电影，还能兑换成现金</p>
          <div class="pay-img"></div>
        </div>
        <div class="account-in fl">
          <form class="comn-form" id="accountInForm">
          <div class="explain">还未绑定优酷账号，有N个积分未领取，马上绑定，领取积分</div>
          <div class="field-items">
            <div class="item">
             <label for="userName">优酷账号</label>
             <div class="item-in">
              <input type="text"  class="comn-input" id="userName" data-rules="required" data-required-error="优酷账号不能为空！">
             </div>
             <a href="http://www.youku.com/user_signup/from_header/" target="_blank"  class="tm">没有帐号？</a>
            </div>
             <div class="item">
              <label for="userPassword">密码</label>
              <div class="item-in">
               <input type="password" class="comn-input" id="userPassword"  data-rules="required" data-required-error="优酷密码不能为空！">
              </div>
              <a href="http://www.youku.com/user_getPwd/" target="_blank"  class="tm">忘记密码？</a>
            </div>
          </div>
          <div class="error-tip" id="bindAccountErrTip"></div>
          <div class="save-btn" id="saveBtn">保存</div>
         </form>
       </div><!--.account-in-->
      </div>
    </div>
   </div><!--.router-main-->
   <%include ("footer")%>
</body>
</html>
