<!DOCTYPE html>
 <html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>优酷土豆路由宝</title>
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/reset.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/login/login.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/form/form.css?lv=<%=luciver%>">
  <link rel="stylesheet" type="text/css" href="<%=media%>/css/icon/comn_icon.css?lv=<%=luciver%>">
 </head>
 <body>
  <div class="login-container">
    <div class="login-con">
    <div class="logo"></div><br><br>
    <h1><a id="content" name="content">404 找不到页面</a></h1>
    <br>   
    <h3><p>抱歉，你访问的页面怎么也找不到！！</p></h3>
	<br>
    <p>
          可能的原因是： <br>
            <span class="icon-warn"></span>URL网址输入错误<br>
            <span class="icon-warn"></span>原页面链接过期<br>
            <br>

           请点击“<a href="javascript:window.location.reload();return false;">刷新</a>” 重新访问页面，
		   <br>或请点击“<a href="http://wifi.youku.com">登陆页面</a>” 返回登陆页面<br><br>
           如果问题依然存在，请与WEB服务器管理员联系
		</p>
	</div>
	<div class="pic"></div>
    </div>   
    </div>
  </div>
 </body>
 </html> 


