    <div class="top-link ">
        <a href='#' class="user-name" id="youkuuserurl" target="_blank"><span class="i-you"></span><span class="name-con" id="youkuuser"></span></a>
        <span id="rebinduser" style="display:none;">
		    <span style="float:left;color:#999;">（</span>
			<a href="#" id="youkubinduserurl" target="_blank" style="color:#999;">重新绑定</a>
			<span style="float:left;color:#999;">）</span>
		</span>
		<span class="line">|</span>
        <a href="#" id="genurl" target="_blank">访问官网</a>
        <span class="line">|</span>
        <a href="#" id="appurl" target="_blank">路由宝客户端</a>
        <span class="line">|</span>
        <a href="#" id="bbsurl" target="_blank">论坛</a>
    </div>
