@charset "utf-8";
.icon-key,
.icon-warn,
.close-btn,
.icon-sun,
.icon-moon,
.icon-down,
.icon-down2,
.icon-upload,
.icon-upload2,
.signal-weak,
.icon-error,
.icon-info,
.icon-right,
.signal-default,
.icon-wifi2,
.icon-right2,
.icon-right3,
.signal-strong,
.icon-wired,
.icon-write{
  background:url(../../images/icon/comn_icons.png) 0 0 no-repeat;
  _overflow:hidden; 
}
.icon-key{width:11px;height:21px;background-position:-58px -75px;display:inline-block;}
.icon-warn{width:16px;height:16px;background-position:-4px -27px;display:inline-block;}
.close-btn{width:24px;height:24px;background-position:-24px 0;}
.close-btn:hover{background-position:-48px 0;}
.signal-weak,.signal-default,.signal-strong{width:24px;height:12px;display:inline-block;}
.signal-weak{background-position:-64px -28px;}
.signal-default{background-position:-95px -30px;}
.signal-strong{background-position:-125px -30px;}
.icon-sun{width:18px;height:24px;background-position:-93px -3px;display:block;}
.icon-moon{width:20px;height:24px;background-position:-121px -3px;display:block;}
.current .icon-sun{background-position:-75px -3px;}
.current .icon-moon{background-position:-144px -3px;}
.icon-down{width:24px;height:24px;background-position:-1px -46px;display:inline-block;}
.icon-down2{width:24px;height:24px;background-position:-124px -46px;display:inline-block;}
.icon-upload{width:24px;height:24px;background-position:-25px -46px;display:inline-block;}
.icon-upload2{width:24px;height:24px;background-position:-147px -46px;display:inline-block;}
.icon-error{width:24px;height:24px;background-position:0 0;}
.icon-info{width:16px;height:16px;background-position:-25px -27px;display:inline-block;vertical-align:middle;}
.icon-right{width:12px;height:12px;background-position:-33px -75px;display:inline-block;vertical-align: middle;}
.icon-wifi2{width:24px;height:24px;background-position:-75px -46px;display: inline-block;vertical-align:middle;}
/*.icon-usb{width:24px;height:24px;background-position:-51px -46px;display:inline-block;vertical-align:middle;}*/
.icon-right2{width:24px;height:24px;background-position:-99px -46px;display:inline-block;vertical-align:middle;}
.icon-pc{width:49px;height:32px;background:url(../../images/icon/icon_computer.png) 0 0 no-repeat;display:inline-block;vertical-align:middle;}
.icon-right3{width:24px;height:24px;background-position:-2px -87px;display:inline-block;vertical-align:middle;}
.icon-wired{width:26px;height:26px;display:inline-block;background-position:-70px -86px; vertical-align:middle;}
/*.icon-write{width:16px;height:16px;background-position:-34px -92px;display:inline-block;cursor:pointer;}*/